body {
  background-color: rgb(70, 142, 236);
  font: normal 15px arial;
}

header {
  color: white;
  text-align: center;
}

section {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
}

img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 50px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
