body{
  background-color: rgb(6, 42, 125);
  text-align: center;
  padding: 0px;
  height: 600px;
  margin: 0px;
}

header{
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

section{
  align-items: left;
  font-size: 25px;
  box-sizing: border-box;
 padding: 5%;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
animation: normal;
}





#botao{
  font-size: 20px;
  margin: 5px;
}

footer{
  padding: 0px;
  color: white;
  font-size: 25px;
  background-color: rgb(75, 96, 145);
  height: 80px;
  line-height: 80px;
  margin: 600px 0px;
}

